.header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 10;
    background: transparent;
    margin-top: 50px;
}

.header a {
    text-decoration: none;
    margin-left: 40px;
    color: white;
    font-size: 18px;
}