.values-section {
    display: flex;
        padding: 80px;
        gap: 30px;
}

.values-section  img.icon {
    width: 100px;
}
.values-section  .info-card {
  text-align: start;
  padding: 40px;
  border-radius: 15px;
   background: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
.values-section h3{
  padding: 12px;
  color:#3372b5;
}
.values-section p{
  padding: 12px;
  color: black;
}
.values-section .info-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}